body > div {
    min-height: 100vh;
}

body > div:not(#title-slide) {
    padding-left: .75rem;
    padding-right: .75rem;
}

#title-slide {
    background: url("../images/background-6.jpg") center;
    background-size: cover;
}

#title-banner {
    max-width: 1024px
}

#cards {
    max-width: 1400px;
    .card {
        --bs-border-radius: 2rem
    }
}
/*#title-banner a{*/
/*    color: whitesmoke;*/
/*}*/
