body {
    margin: 0;
    background-image: url("../backgr/background.jpg");
    background-size: cover;
    height: 100px;
}
.page-header {
    height: 140px;
    background-image: url("../header/header.jpg");
    background-size: cover;
    position: relative;
    bottom: 40px;
}
.page-header h1 {
    font-size: 3em;
    color: #e5f5f5;
    position: relative;
    top: 60px;
    text-align: center;
    font-family: "Palatino Linotype";
}
.nav-bar{
    background: #252525;
    background: linear-gradient(360deg, #151515, #2c2c2c);
    position: relative;
    bottom: 40px;
}
.container {
    width: 800px;
    margin: auto;
}
.nav-bar ul {
    margin: 0;
    padding: 0;
    /*list-style-type: none;*/
    display: flex;
    justify-content: space-around;
    min-height: 50px;
}
.nav-bar ul li {
    display: flex;
    align-items: center;
    flex: 1;
}
.nav-bar ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #dae8e8;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-bar ul li a span {
    align-items: stretch;
    flex: 1;
}
.nav-bar ul li:hover {
    background: linear-gradient(360deg, #101010, #3d1a1a);
    transition: all 0.4s;
}
.nav-bar ul li a:hover {
    color: #ff5a41;
    transition: all 0.4s;
}
.block {
    background: #1f1f1f;
    min-width: 70%;
    width: 1200px;
    margin: auto;
    position: relative;
    bottom: 40px;
}
.block h1 {
    font-weight: bold;
    text-align: center;
    font-family: "Palatino Linotype";
    color: #fbffff;
    padding-top: 30px;
}
.block h2 {
    text-align: center;
    font-family: "Palatino Linotype";
    color: #e6f6f6;
    padding-top: 20px;
}
.block h3 {
    text-align: center;
    font-family: "Palatino Linotype";
    color: #e6f6f6;
    padding-top: 30px;
}
.text {
    padding-top: 20px;
    width: 85%;
    margin: auto;
}
.info {
    padding-top: 10px;
    text-indent: 60px;
    font-size: 1.3em;
    margin: auto;
    color: #ccd9d9;
}
.row .card {
    background: #1f1f1f;
    margin-top: 20px;
}
.card-body .card-title {
    color: #ccd9d9;
    text-align: center;
}
.fact2 {
    height: 500px;
}
.fact2 .info{
    padding-left: 40%;
}
.fact2 .card {
    background: #1f1f1f;
    position: relative;
    bottom: 450px;
}
.card-body .card-text {
    color: #ccd9d9;
    text-align: center;
}
.fact3 {
    height: 470px;
}
.fact3 .info{
    padding-right: 40%;
}
.fact3 .card {
    background: #1f1f1f;
    position: relative;
    bottom: 400px;
    left: 740px;
}
.fact5 {
    height: 450px;
}
.fact5 .info{
    padding-left: 40%;
}
.fact5 .card {
    background: #1f1f1f;
    position: relative;
    bottom: 400px;
}
.fact6 {
    padding-bottom: 30px;
}
.diction {
    text-decoration: none;
    color: #ffbb77;
}
.diction:hover {
    color: #b42100;
    transition: all 0.2s;
}


.footer {
    position: relative;
    bottom: 40px;
    width: 100%;
    background: linear-gradient(360deg, #4d0000, #341212, #1c1a1a, #101010);
}
.footer .container {
    width: 70%;
    padding-top: 100px;
}
.footer .container ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
}
.footer .container ul li {
    display: flex;
    align-items: center;
    flex: 1;
}
.footer .container ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #dae8e8;
    text-decoration: none;
    font-weight: bold;
}
.footer .container ul li a span {
    align-items: stretch;
    flex: 1;
}
.footer .container ul li a:hover {
    color: #949494;
    transition: all 0.4s;
}
.footer .footer-container {
    width: 30%;
    padding-bottom: 100px;
}
.footer-container .row .col {
    padding: 3%;

}
.footer-container .row .col a {
    text-decoration: none;
    color: #cbcbcb;
}
.footer-container .row .col a:hover {
    color: #ff806c;
    transition: all 0.4s;
}