body {
    margin: 0;
    background-image: url("../backgr/bacck.png");
    background-size: cover;
    height: 100px;
}
.page-header {
    height: 140px;
    background-image: url("../header/head.jpg");
    background-size: cover;
    position: relative;
    bottom: 40px;
}
.page-header h1 {
    font-size: 3em;
    color: #22212c;
    position: relative;
    top: 60px;
    font-weight: bold;
    text-align: center;
    font-family: "Palatino Linotype";
}
.nav-bar{
    background: linear-gradient(270deg, #8367c9, #ebdcf8);
    position: relative;
    bottom: 40px;
}
.container {
    width: 800px;
    margin: auto;
}
.nav-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
}
.nav-bar ul li {
    display: flex;
    align-items: center;
    flex: 1;
}
.nav-bar ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #22212c;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-bar ul li a span {
    align-items: stretch;
    flex: 1;
}
.nav-bar ul li:hover {
    background: linear-gradient(360deg, #785eef, #b599fc);
    transition: all 0.4s;
}
.nav-bar ul li a:hover {
    color: #eebfff;
    transition: all 0.4s;
}
.block {
    background: #e9e3fa;
    min-width: 70%;
    width: 1200px;
    margin: auto;
    position: relative;
    bottom: 40px;
}
.block h1 {
    font-weight: bold;
    text-align: center;
    font-family: "Palatino Linotype";
    color: #22212c;
    padding-top: 30px;
}
.block h2 {
    text-align: center;
    font-family: "Palatino Linotype";
    color: #22212c;
    padding-top: 20px;
}
.block h3 {
    text-align: center;
    font-family: "Palatino Linotype";
    color: #22212c;
}
.lemma {
    width: 85%;
    margin: auto;
    height: 600px;
}
.lemma-text {
    font-size: 1.3em;
    text-indent: 60px;
    margin-left: 45%;
    color: #22212c;
    padding-top: 20px;
}
.lemma .card {
    position:relative;
    bottom: 570px;
    left: 50px;
    background-color: #e9e3fa;
}
.structure {
    width: 85%;
    margin: auto;
}
.structure-text {
    font-size: 1.3em;
    text-indent: 60px;
    color: #22212c;
    padding-top: 20px;
}
.structure .card {
    background: #e9e3fa;
    margin: auto;
}
.orders {
    width: 85%;
    margin: auto;
}
.orders .card {
    background: #e9e3fa;
}
.orders .card .card-text {
    color: #22212c;
    text-align: center;
}
.orders-text {
    font-size: 1.3em;
    text-indent: 60px;
    color: #22212c;
    padding-top: 10px;
}
.hospital {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}
/*.hospital .card-body h5 {*/
/*    color: #ee7256;*/
/*    text-align: center;*/
/*}*/
/*.diction {*/
/*    text-decoration: none;*/
/*    color: #ffbb77;*/
/*}*/
/*.diction:hover {*/
/*    color: #b42100;*/
/*    transition: all 0.2s;*/
/*}*/


.footer {
    position: relative;
    bottom: 40px;
    width: 100%;
    background: linear-gradient(360deg, #ede9f5, #dfd9f5, #dccdfc, #d2c4f8);
}
.footer .container {
    width: 70%;
    padding-top: 100px;
}
.footer .container ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
}
.footer .container ul li {
    display: flex;
    align-items: center;
    flex: 1;
}
.footer .container ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #22212c;
    text-decoration: none;
    font-weight: bold;
}
.footer .container ul li a span {
    align-items: stretch;
    flex: 1;
}
.footer .container ul li a:hover {
    color: #8c88c5;
    transition: all 0.3s;
}
.footer .footer-container {
    width: 30%;
    padding-bottom: 100px;
}
.footer-container .row .col {
    padding: 3%;
}
.footer-container .row .col a {
    text-decoration: none;
    color: #22212c;
}
.footer-container .row .col a:hover {
    color: #8c88c5;
    transition: all 0.3s;
}
